html {
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
    opacity: 0.9;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }

#game_board {
    background:#ffffff;
    width:510px;
    height:510px;
    margin:0px auto;
    box-shadow: inset 0px 0px 20px -6px rgba(97,89,97,1);
  }

.cell {
  height: 100px;
  width: 100px;
  margin : 0px;
  padding: 0px;
  border: 1px solid black;
  display: inline-block;
  background-color: #c5d6e1;
}


.bomb {
  background-image: url("../images/bomb-image.png");
  background-size: 50px;  
  background-repeat: no-repeat;
  background-position: center;
}

.explosion {
  background-image: url("../images/explosion2.gif")!important;
  background-color: red!important;
  background-size: 80px;  
  background-repeat: no-repeat;
  background-position: center;
}
.all-red {
  background-color: red!important;
}

.all-green {
  background-color: green!important;
} 

.hidden {
  background-color: #c5d6e1!important;
  background-image: none!important;
}

.light {
  background-image: url("../images/end-point.png");
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
}

.bomb.used {
  background-color: blue!important;
  background-image: url("../images/start-point.png");
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.used {
  background-color: blue;
  background-image: url("../images/start-point.png");
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}   
