html {
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
    opacity: 0.9;
    font-family: "Helvetica Neue", Arial, sans-serif;
    justify-items: center;
  }

.header {
  margin: auto;
  width: 15%;
}

#game_board {
    background:#ffffff;
    width:510px;
    height:510px;
    margin:0px auto;
    box-shadow: inset 0px 0px 20px -6px rgba(97,89,97,1);
  }

.cell {
  height: 100px;
  width: 100px;
  margin : 0px;
  padding: 0px;
  border: 1px solid black;
  display: inline-block;
  background-color: #425C77;
}


.bomb {
  background-image: url("../images/bomb-image.png");
  background-size: 50px;  
  background-repeat: no-repeat;
  background-position: center;
}

.explosion {
  background-image: url("../images/explosion2.gif")!important;
  background-color: #E45852!important;
  background-size: 80px;  
  background-repeat: no-repeat;
  background-position: center;
}
.all-red {
  background-color: #E45852!important;
}

.all-green {
  background-color: #6FAD83!important;
} 

.hidden {
  background-color: #425C77!important;
  background-image: none!important;
}

.light {
  background-image: url("../images/start-point.png");  
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
}

.bomb.used {
  background-color: #03B4FE!important;
  background-image: url("../images/start-point.png");
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.used {
  background-color: #03B4FE;
  background-image: url("../images/start-point.png");
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}   


/* _________________ POPUP STYLE __________________________*/
.popup {
  visibility:hidden;
  background-color: #FFFFFF;
  border: 1px solid grey;
  align-items: center;  
  width:400px;
  height:350px;
  left:35%; 
  position: absolute;
  border-radius: 15px;
  margin-top: 150px;
}

.popup.active {
  visibility:visible;
  text-align:center;
}

.popup-content {
 visibility:hidden;
 padding: 20px;
}

.popup-content.active {
  visibility:visible;
}

button {
  display:inline-block;
  vertical-align:middle;
  border-radius:30px;
  margin: 10px;;
  padding: 10px;
  font-size: 12px;
  color:#666666;
  background:	#ffffff;
  border:1px solid #666666; 
}

button:hover{
  border:1px solid #666666;
  background:#666666;
  color:#ffffff;
}